<form class="sign-up-form" action="/subscribe" method="post">

    <div class="control">
        <label>
            Email
            <input name="email" type="email" maxlength="50" required>
        </label>
    </div>

    <div class="control checkbox">
        <div class="input-wrapper">
            <input id="{{id}}" type="checkbox" required>
            &#8203; {{! Zero-width space }}
        </div>
        <div class="label-wrapper">
            <label for="{{id}}">I consent to receive messages from Mark&nbsp;Peaks.</label>
        </div>
    </div>

    <div class="control">
        <button type="submit">Subscribe</button>
    </div>

    <p>
        You can unsubscribe at any time.
        Check our <a href="/legal">privacy policy</a> for more information.
    </p>

</form>