{{#extend "page"
          title="Page not found"
          description="The page you’re looking for can’t be found. Visit our homepage to continue browsing."
          url="/404"}}

    {{#content "main"}}

        <h1>The page you’re looking for can’t be found.</h1>
        <p><a href="/">Visit our homepage</a> to continue browsing.</p>

    {{/content}}

{{/extend}}