{{#extend "page"
          title="You're already subscribed"
          description=""
          url="/already-subscribed"}}

    {{#content "main"}}

        <h1>You're already subscribed</h1>
        <p>
            To never miss a message,
            add <a href="mailto:mark@markpeaks.com">mark@markpeaks.com</a> to your contacts.
        </p>

    {{/content}}

{{/extend}}