{{#extend "page"
          title="Mark Peaks"
          description=""
          url="/"}}

    {{#content "main"}}

        <h1>Mark Peaks</h1>

        {{#embed "sign-up-form" id="c1"}}{{/embed}}

    {{/content}}

{{/extend}}