{{#extend "page"
          title="Mark Peaks"
          description=""
          url="/"}}

    {{#content "main"}}

        <h1 class="visually-hidden">Mark Peaks</h1>

        <h2>You don't want more outdoor gear</h2>

        {{#embed "sign-up-form" id="c1"}}{{/embed}}

    {{/content}}

{{/extend}}