{{#extend "page"
          title="Legal"
          description="Legal"
          url="/legal"}}

    {{#content "main"}}

        <section id="legal">
            <h1>Legal</h1>
        </section>

    {{/content}}

{{/extend}}