{{#extend "page"
          title="Subscription confirmed"
          description=""
          url="/subscription-confirmed"}}

    {{#content "main"}}

        <h1>Subscription confirmed</h1>
        <p>You will now start to receive email updates from Mark.</p>
        <p>
            To never miss a message,
            add <a href="mailto:mark@markpeaks.com">mark@markpeaks.com</a> to your contacts.
        </p>

    {{/content}}

{{/extend}}